@model List<WebApplication1.Models.Entity.TBLGİRİS>
<br />
<br />
<br />
<div class="article">
    <div class="wrap">
        @foreach (var item in Model){
            <div class="custom">
                <div class="column1">           
                    <h1>@item.GirisBaslik</h1>
                    <span>@item.GirisMetin</span>
                    <div class="clear"></div>
                   
                </div>
                </div>
                }

                <div class="clear"></div>

</div>
</div>
