<div class="main">
    <div class="wrap">

        <div class="content">

            <div id="gallery">
                <a class="show">
                    <img src="~/AAA/web/images/image.jpg" alt="" />
                </a>

                <a>
                    <img src="~/AAA/web/images/image2.jpg" alt="" />
                </a>

                <a>
                    <img src="~/AAA/web/images/image3.jpg" alt="" />
                </a>

                <a>
                    <img src="~/AAA/web/images/image4.jpg" alt="" />
                </a>


            </div>

        </div>
    </div>
</div>
