@model List<WebApplication1.Models.Entity.TBLDOGA>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<div class="article">
    <div class="wrap">
        <br />
        <br />
        <br />

        <div class="custom">
            <div class="about-lt">
                <h3>DOĞAL GÜZELLİKLER</h3>
                <div class="team-list">
                    <ul style="width:1200px;">
                        @foreach (var item in Model)
                        {
                            <li>
                                <div id="asd" style="max-width:200px;max-height:200px"> <img src="~/AAA/web/images/@item.DogaImageURL" alt="" /></div>
                                <h4>@item.DogaBaslik1</h4>
                                <span>@item.DogaText</span><br /><br />
                                
                            </li>
                        }


                    </ul>
                </div>
            </div>

            <div class="clear"></div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

</div>
